.sectionHeroCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    max-height: 800px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 100px;
    background-color: #ffffff;
}
@media (max-width: 1000px) {
    .sectionHeroCont {
        height: 100dvh;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }
}
.sectionHeroGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    grid-template-areas: "a b";
}

.sectionHeroGridLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    grid-area: "a";
}
@media (max-width: 1000px) {
    .sectionHeroGridLeft {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
.sectionHeroGridLeftText {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
}

.sectionHeroGridLeftText h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}


.sectionHeroGridLeftText p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
@media (max-width: 1000px) {
    .sectionHeroGridLeftText {
        width: 80%;
    }
}
.sectionHeroGridRight {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: "b";
}

@media (max-width: 1000px) {
    .sectionHeroGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100dvh;
        width: 100%;
        grid-template-areas:
            "b"
            "a";

        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
    }
}