.locationTopSection{
    height: auto;
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
}
@media (max-width: 768px) {
    .locationTopSection{
        height: 100dvh;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
}
.locationTopSectionLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.locationTopSectionLeft h2{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}

.locationTopSectionLeft p{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    width: 50%;
    text-align: center;
}

.locationTopSectionRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mapContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    
    overflow: hidden;
    
}

.staticMap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}




/* EXPERTISE */
.homeExpertise {
  width: 100%;
  height: 60dvh;

  padding-bottom: 70px;
  position: relative;

  background-color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 768px) {
  .homeExpertise {
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.homeExpertiseHR {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #000000;
}

.homeExpertiseGridCont {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1.2fr 1fr;
}

@media (max-width: 768px) {
  .homeExpertiseGridCont {
    grid-template-rows: 0.5fr 1fr;
  }
}

.homeExpertiseTop {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.homeExpertiseTopLeftIcon {
  rotate: 0deg;
  width: auto;
  height: auto;
}
@media (max-width: 768px) {
  .homeExpertiseTop {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 0fr;
  }

  .homeExpertiseTopLeftIcon {
    rotate: 90deg;
  }
}

.homeExpertiseTopLeftCont {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.homeExpertiseTopLeft {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .homeExpertiseTopLeft {
    width: 90vw;
    justify-content: space-between;
    height: 100px;
  }
}

.homeExpertiseTopLeft h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
  width: 20vw;
}

@media (max-width: 768px) {
  .homeExpertiseTopLeft h2 {
    font-size: 24px;
    width: 60vw;
  }
}
@media (max-width: 768px) {
  .homeExpertiseTopLeftIcon {
    rotate: 90deg;
  }
}
.homeExpertiseTopRight {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
}

@media (max-width: 768px) {
  .homeExpertiseTopRight {
    padding-left: 0px;
  }
}

.homeExpertiseTopRight h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
  width: 350px;
}

.homeExpertiseTopRight p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  width: 350px;
}

.homeExpertiseCardsGrid {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .homeExpertiseCardsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.homeExpertiseCardInner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #D9D9D9;
  padding-left: 40px;
  gap: 20px;
}

@media (max-width: 768px) {
  .homeExpertiseCardInner {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.homeExpertiseCardInner h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.homeExpertiseCardInner p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}