
.homeServices {
    width: 100%;
    min-height: 70dvh;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 0;
    padding-left: 70px;
    padding-right: 70px;
  }
  @media (max-width: 768px) {
    .homeServices {
      height: auto;
      padding-top: 80px;
      padding-bottom: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .homeServicesTitle {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .homeServicesTitle h2 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    text-align: left;
  }
  .homeServicesTitle p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: left;
  }
  .homeServicesCardsGrid {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 0.8fr;
    gap: 20px;
  }
  .homeServicesCardTop {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .homeServicesCardBottom {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @media (max-width: 768px) {
    .homeServicesCardTop {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .homeServicesCardBottom {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .homeServicesCardCont {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 101;
  }
  .homeServicesCard {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 28px;
    padding: 20px;
    z-index: 101;
    background-color: #D9D9D9;
    transition: top 0.3s ease, left 0.3s ease;
  }
  .homeServicesCardHoverCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .homeServicesCardHoverText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    
  }
  .homeServicesCardHoverTextLink {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    text-align: left;
    opacity: 0;
    text-decoration: underline;
    transition: opacity 0.5s ease;
    cursor: pointer;
  }
  
  .homeServicesCardIconCont {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeServicesCardIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #000000;
    rotate: 0deg;
    transform: translate(-50%,-50%);
    background-color: transparent;
    transition: border-radius 0.3s ease, height 0.3s ease, border 0.3s ease, top 0.3s ease, left 0.3s ease, transform 0.3s ease, rotate 0.3s ease;
  }
  .homeServicesCardIcon2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #000000;
    rotate: 0deg;
    transform: translate(-50%,-50%);
    background-color: transparent;
    transition: border-radius 0.3s ease, width 0.3s ease, border 0.3s ease, top 0.3s ease, left 0.3s ease, transform 0.3s ease, rotate 0.3s ease, height 0.3s ease;
  }
  .homeServicesCardIcon3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #000000;
    rotate: 0deg;
    transform: translate(-50%,-50%);
    background-color: transparent;
    transition: 
    border-radius 0.3s ease, 
    width 0.3s ease, 
    border 0.3s ease, 
    top 0.3s ease, 
    left 0.3s ease, 
    transform 0.3s ease, 
    rotate 0.3s ease, 
    height 0.3s ease;
  }
  .homeServicesCard:hover .homeServicesCardIcon {
    border-radius: 0px;
    height: 2px;
    border: 2px solid #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    rotate: 180deg;
  }
  .homeServicesCard:hover .homeServicesCardIcon2 {
    border-radius: 0px;
    width: 2px;
    height: 35.36px;
    border: 2px solid #000000;
    top: calc(50% - 6px);
    left: calc(75% + 4px);
    transform: translate(-50%,0%);
    rotate: 45deg;
  }
    .homeServicesCard:hover .homeServicesCardIcon3 {
      border-radius: 0px;
      width: 2px;
      height: 35.36px;
      border: 2px solid #000000;
      top: calc(50% + 6px);
      left: calc(75% + 4px);
      transform: translate(-50%,-100%);
      rotate: -45deg;
    }
    .homeServicesCard:hover .homeServicesCardHoverTextLink {
      cursor: pointer;
      opacity: 1;
    }
    @media (max-width: 768px) {
      .homeServicesCard .homeServicesCardIcon {
        border-radius: 0px;
        height: 2px;
        border: 2px solid #000000;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        rotate: 180deg;
      }
      .homeServicesCard .homeServicesCardIcon2 {
        border-radius: 0px;
        width: 2px;
        height: 35.36px;
        border: 2px solid #000000;
        top: calc(50% - 6px);
        left: calc(75% + 4px);
        transform: translate(-50%,0%);
        rotate: 45deg;
      }
        .homeServicesCard .homeServicesCardIcon3 {
          border-radius: 0px;
          width: 2px;
          height: 35.36px;
          border: 2px solid #000000;
          top: calc(50% + 6px);
          left: calc(75% + 4px);
          transform: translate(-50%,-100%);
          rotate: -45deg;
        }
        .homeServicesCard .homeServicesCardHoverTextLink {
          
          opacity: 1;
        }
    }
  .homeServicesCard h3 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-align: left;
  }
  .homeServicesCard p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: left;
  }
  .homeServicesCardBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #7b7b7b;
    transition: top 0.3s ease, left 0.3s ease;
  }
  .homeServicesCardCont:hover .homeServicesCardBG {
    top: 5px;
    left: 5px;
  }
  .homeServicesCardCont:hover .homeServicesCard {
    top: -5px;
    left: -5px;
  }
  .homeServicesCardCont:active .homeServicesCardBG {
    top: 0px;
    left: 0px;
  }
  .homeServicesCardCont:active .homeServicesCard {
    top: 0px;
    left: 0px;
  }
  @media (max-width: 768px) {
    .homeServicesCardCont:hover .homeServicesCardBG {
      top: 0px;
      left: 0px;
    }
    .homeServicesCardCont:hover .homeServicesCard {
      top: 0px;
      left: 0px;
    }
    .homeServicesCardCont:active .homeServicesCardBG {
      top: 0px;
      left: 0px;
    }
    .homeServicesCardCont:active .homeServicesCard {
      top: 0px;
      left: 0px;
    }
  }
  