
.locationSectionCont{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .locationSectionCont{
        
        margin-bottom: 70px;
    }
}
.aboutItem{
    margin-top: 70px;
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}
@media (max-width: 768px) {
    .aboutItem{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }
}
.aboutItemContLeft{
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.aboutItemTitle{
    width: 20vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width: 768px) {
    .aboutItemTitle{
        width: 100%;
    }
}
.aboutItemTitle h2{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    text-align: left;
}

@media (max-width: 768px) {
    .aboutItemTitleArrow{
        rotate: 90deg;
    }
}
.aboutItemText{
    width: 50vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
@media (max-width: 768px) {
    .aboutItemText{
        width: 100%;
    }
}
.aboutItemText h2{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    text-align: left;
}
.aboutLocationCont{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}
@media (max-width: 768px) {
    .aboutLocationCont{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.aboutLocationHr{
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutLocationGrid{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.aboutLocationItem{
    width: fit-content;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width: 768px) {
    .aboutLocationItem{
        width: 100%;
        align-items: center;
    }
}
.aboutLocationItem:hover hr{
    width: 100%;
}
.aboutLocationItem hr{
    width: 0%;
    height: 1px;
    background-color: #000000;
    
    transition: width 0.2s ease-in-out;
}
.aboutLocationItem p{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: left;
}